/* Common CSS styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.point {
  cursor: pointer;
}

.btn {
  background-color: #30B868;
  padding: 12px 16px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  cursor: pointer;
}


/* Main Styles */
header {
  background-color: #F0F4FF;
  padding-top: 16px;
}

nav {
  width: 85%;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  list-style-type: none;
  gap: 32px;
  align-items: center;
}

.menu a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #333333;
  transition: color 0.3s ease;
}