/* Common CSS styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.center {
  width: 85%;
  max-width: 1600px;
  margin: 0 auto;
}

.color-primary {
  color: #30B868;
}

.point {
  cursor: pointer;
}

.btn {
  background-color: #30B868;
  padding: 12px 16px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

/* Main Styles */
header {
  background-color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.menu {
  display: flex;
  list-style-type: none;
  gap: 32px;
  align-items: center;
}

.menu a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #333333;
  transition: color 0.3s ease;
}

#banner {
  background-image: url("./assets/hero-bg.png");
  height: 674px;
  padding: 115px 120px 180px 120px;
  background-size: cover;
  background-position: center;
}

.banner-content {
  width: 85%;
  max-width: 1600px;
  margin: 0 auto;
}

.early-access-btn {
  background-color: #fff;
  color: #30B868;
  padding: 8px 12px;
  border: none;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 0 auto;
}

.banner-heading h1 {
  font-size: 72px;
  font-weight: 700;
  color: #fff;
  width: 770px;
  margin: 0 auto;
  text-align: center;
  padding: 16px 0;
}

.banner-heading p {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  width: 770px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 32px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.btn-clear {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
}

main {
  padding-bottom: 120px;
}

#features {
  text-align: center;
}

#features .section-title h2 {
  padding: 50px 0 16px 0;
  font-size: 48px;
  font-weight: 700;
  color: #001931;
  text-transform: capitalize;
}

#features .section-title p {
  font-size: 16px;
  color: #627382;
  padding-bottom: 44px;
}

.section-cards {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  padding-bottom: 120px;
}

.section-card-item {
  padding: 24px;
  width: auto;
  height: 300;
  border-radius: 8px;
  box-shadow: 0 0 5px 0;
}

.round-btn {
  border-radius: 50px;
  height: 60px;
  width: 60px;
  background-color: #f95555;
  border: none;
  margin: 55px 107px 16px 107px;
}

.section-card-item h3 {
  font-size: 24px;
  font-weight: 600;
  color: #001931;
  text-align: center;
  padding-bottom: 16px;
}

.section-card-item p {
  font-size: 16px;
  color: #627382;
  text-align: center;
  padding-bottom: 21px;
}

#solution {
  display: flex;
  align-items: start;
  padding-bottom: 120px;
}

#solution .ideas-img {
  max-width: 600px;
  height: auto;
}

.solution-content {
  max-width: 700px;
  margin: 111px 0 111px 60px;
}

.solution-content .top {
  font-size: 16px;
  text-transform: uppercase;
  color: #30B868;
  padding-bottom: 16px;
}

.solution-content h2 {
  font-size: 48px;
  font-weight: 700;
  color: #001931;
  padding-bottom: 16px;
}

.solution-content p {
  font-size: 16px;
  color: #627382;
  padding-bottom: 40px;
}

.solution-content ul {
  list-style: none;
}

.solution-content ul li {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  color: #000;
  padding-bottom: 16px;
}

#more-action {
  border-radius: 12px;
  padding: 80px 40px;
  background-color: #F7F6F2;
  text-align: center;
}

#more-action .content {
  margin: 80px 40px;
}

#more-action .content h3 {
  font-size: 40px;
  font-weight: 700;
  color: #001931;
  padding-bottom: 16px;
}

#more-action .content p {
  font-size: 16px;
  color: #627382;
  padding-bottom: 16px;
}

.bottom {
  margin: 16px 0;
}